body {
    background-color: #eef3fb;
    font-family: Arial;
}

.container {
    width: 40%;
    margin: auto;
    background: white;
    padding: 30px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
}

h1 {
    text-align: center;
    color: #0d47a1;
}

.tag {
    text-align: center;
    color: gray;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

button {
    margin-top: 10px;
    padding: 8px;
    background: #0d47a1;
    color: white;
    border: none;
    cursor: pointer;
}

.submit {
    width: 100%;
    background: green;
}

#msg {
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
